* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141414;
    color: white;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.menu {
    display: flex;
    gap: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
    border: 1px solid gray;
    padding: 6px 12px;
    transition: 0.2s;
}

.menu a:hover {
    background-color: #d9d9d9;
}

.icons {
    display: flex;
    gap: 10px;
}

.icon {
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 50%;
}

.brand-name {
    padding: 6px 10px;
    border: 1px solid gray;
}

/* BANNER DESTAQUE */
.banner {
    height: 55vh;

    background-image: url("https://picsum.photos/1500/800");
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    padding: 40px;
    position: relative;
}

.banner-conteudo {
    max-width: 500px;
}

.banner h1 {
    font-size: 48px;
    margin-bottom: 15px;
    color: white;
}

.banner p {
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
}

.botoes button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.btn-play {
    background-color: white;
    color: black;
    font-weight: bold;
}

.btn-info {
    background-color: rgba(109,109,110,0.7);
    color: white;
}

/* CONTINUE ASSISTINDO */
.lista-filmes {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.filme {
    flex: 0 0 auto;
    overflow: hidden;
}

.filme img {
    width: 200px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.filme img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.categoria {
    padding: 20px 40px;
    margin-bottom: 30px;
}

.categoria h2 {
    margin-bottom: 15px;
}